<?xml version="1.0"?>
<config>
    <modules>
        <Webengage_Coup>
            <version>0.1.0</version>
        </Webengage_Coup>
    </modules>
    <global>
        <models>
        <webengage_coup>
            <class>Webengage_Coup_Model</class>
            <resourceModel>webengage_coup_mysql4</resourceModel>
        </webengage_coup>
        <webengage_coup_mysql4>
            <class>Webengage_Coup_Model_Mysql4</class>
            <entities>
                <itemtrack>
                    <table>webengage_coup_itemtrack</table>
                </itemtrack>
				<settings> 
                    <table>webengage_coup_settings</table> 
                </settings> 
            </entities>
        </webengage_coup_mysql4>
    </models>
        <blocks>
            <webengage_coup>
                <class>Webengage_Coup_Block</class>
            </webengage_coup>
        </blocks>
        <helpers>
            <webengage_coup>
                <class>Webengage_Coup_Helper</class>
            </webengage_coup>
        </helpers>
		<rewrite>
        </rewrite>
        <resources>
            <webengage_coup_setup>
                <setup>
                    <module>Webengage_Coup</module>
                    <class>Webengage_Coup_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webengage_coup_setup>
            <webengage_coup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webengage_coup_write>
            <webengage_coup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webengage_coup_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <webengage>
                <use>standard</use>
                <args>
                    <module>Webengage_Coup</module>
                    <frontName>webengage</frontName>
                </args>
            </webengage>
        </routers>
		<layout>
            <updates>
                <webengage_coup module="Coup">
                    <file>coup.xml</file>
                </webengage_coup>
            </updates>
        </layout>
        <events>
            <sales_quote_remove_item>
                <observers>
                   <Webengage_Coup_Model_Observer>
                      <type>singleton</type>
                      <class>Webengage_Coup_Model_Observer</class>
                      <method>Mytestmethod</method>
                   </Webengage_Coup_Model_Observer>
               </observers>
            </sales_quote_remove_item>
            <checkout_cart_add_product_complete>
                <observers>
                   <Webengage_Coup_Model_Observer>
                      <type>singleton</type>
                      <class>Webengage_Coup_Model_Observer</class>
                      <method>ItemParams</method>
                   </Webengage_Coup_Model_Observer>
               </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_item_complete>
                <observers>
                   <Webengage_Coup_Model_Observer>
                      <type>singleton</type>
                      <class>Webengage_Coup_Model_Observer</class>
                      <method>ItemParamsAfterUpdate</method>
                   </Webengage_Coup_Model_Observer>
               </observers>
            </checkout_cart_update_item_complete>

            
        </events>

    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <webengage_coup before="Mage_Adminhtml">Webengage_Coup_Adminhtml</webengage_coup>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <webengage_coup module="webengage_coup">
                    <file>coup.xml</file>
                </webengage_coup>
            </updates>
        </layout>
    </adminhtml>
</config>

